/* styles/global.css */

body {
  font-family: 'Montserrat', sans-serif;
  /* Add more styles as needed */
}
/* styles/AboutCard.module.css */

.about-card {
  width: 17em;
  height: 22.5em;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.about-card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.about-card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.about-card .img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
}

.about-card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.about-card a {
  color: white;
  transition: 0.4s ease-in-out;
}

.about-card a:hover {
  color: red;
}

.about-card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

.about-card button:hover {
  background: red;
  color: white;
  cursor: pointer;
}
.about-background{
  background-color: blue;
}
